

<nav id="nav"class="navbar navbar-default">
  <!-- .container-fluid class provides a full width container, spanning the entire width of the viewport -->
  <div class="container-fluid">
  <!-- .container class provides a responsive fixed width container -->
  <!-- <div class="container"> -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Home</a>
  </div>
    <!-- Used on a <ul> container that contains the list items with links inside a navigation bar -->
    <ul class="nav navbar-nav">
      <li><a href="projects.html">Introductions</a></li>
      <li><a href="about_me.html">Motivation</a></li>
    </ul>
    <button id="login-btn" class="btn btn-primary">Login</button>

  </div>
</nav>

