
{% extends "base.html" %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row align-items-md-stretch">
      <h1 class="fw-bold my-2">Group 18 Introductions</h1>
        <h3 class="fw-light mt-4 text-secondary mb-5"></h3>


          <div class="col-lg-4 mx-auto">
            <div class="p-5 mb-4 rounded-3 h-100 shadow">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold shadow-class" >Ryon Gerringer</h1>
                <p class="fs-4 shadow-class">
                    Hey there I am a full-stack web developer from Greensboro, NC. I'm an avid fan of music as well as coding various projects. I am looking forward to graduating this month.
                </p>
              </div>
            </div>
          </div>
        <div class="col-lg-4 mx-auto">
            <div class="p-5 mb-4 rounded-3 h-100 shadow">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold shadow-class">Garrett Hope</h1>
                    <p class="fs-4 shadow-class">
                    My name is Garrett Hope and I am currently a Senior at East Carolina University. I'm looking forward to graduating this week, and hope to have a good career in Computer Science.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mx-auto">
            <div class="p-5 mb-4 rounded-3 h-100 shadow">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold shadow-class">Riley Helner</h1>
                    <p class="fs-4 shadow-class">
                    My name is Riley Helner, I'm a senior computer science major. I am from Hillsborough, North Carolina. I enjoy video games, music, and cooking.
                    </p>
                </div>
            </div>
        </div>
        </div>
    <hr class="my-5">
  </section>
  {% endblock %}
