{% extends "base.html" %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row align-items-md-stretch">

          <div class="col-lg-4 mx-auto">
            <div class="p-5 mb-4 rounded-3 h-100 shadow">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold shadow-class" >Motivations for the project</h1>
                <p class="fs-4 shadow-class">
                  <ul>
                    <li>The motivation for this project choice is to both broaden the team's skills in working with databases as well as skills in working in front and back-end development.</li>
                    <li>In addition, this can be used for both large scale events, class rosters, etc.</li>
                    <li>This project was thought up to help with both workflow as well as helping with organization. Once implemented this will help with the organization of event planning in addition to the aforementioned motivations mentioned above.</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        <div class="col-lg-4 mx-auto">
            <div class="p-5 mb-4 rounded-3 h-100 shadow">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold shadow-class">Ideas and problems to solve</h1>
                    <p class="fs-4 shadow-class">
                      <ul>
                        <li>This project solves the problem of the case where you would need to have contact information for a larger group of people.</li>
                        <li>The ideas/features for this project include:
                            <ul>
                                <li>Linking contact information with a table.</li>
                                <li>Potentially Implementing a search function to be able to search for specific users’ names and/or other useful contact information.</li>
                                <li>Potentially a login aspect to the website with an additional login user database</li>
                            </ul>
                        <li>In addition to helping with the problem of organization this project will also help with the speed at which contact data will be able to be accessed.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    <hr class="my-5">
  </section>
  {% endblock %}
